.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 50px;
}

.product_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.product_header {
  justify-content: flex-start;
  gap: 260px;
}

.products_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0px;
  gap: 50px;
  overflow: auto;
  order: 2;
  flex-grow: 1;
}

.product_item_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  width: 300px;
  height: 320px;
  
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.img_wrapper {
  align-self: stretch;
  flex-grow: 1;
}

.img_gradient {
  width: 100vh;
  height: 100%;
  background: linear-gradient(180deg, rgba(116, 117, 93, 0) 65.28%, #74755D 100%);
}

.product_text {
  display: flex;
  text-align: left;
  padding: 10px 20px;
  gap: 10px;
  
  background: #74755D;
  
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

