.page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0E170D;
  padding: 30px;
  gap: 30px;
  overflow-y: auto;
  height: 92vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.observed_elem {
  margin-top: 100px;
  min-width: 100vh;
}