@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&family=Cormorant+Infant:wght@600;700&family=Ubuntu:wght@700&display=swap');
body{
  margin: 0;
  overflow: hidden;
}

.App {
  text-align: center;
}

a {
  text-decoration:none
}

.logo-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 434px;
  height: 122px;
}

.first-line {
  margin: -20px 0px;
}

.second-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 7px;
  width: 434px;
  height: 73px;
}

h1 {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;

  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.15em;
  color: #AEBC64;
  height: 73px;
  gap: 10px;
}

h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 0px 6px 5px;
  gap: 10px;
  width: 149px;
  height: 58px;
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #74755D;
}

.pagination-wrapper {
  display: flex;
  gap: 10px;
  order: 3;
}


