@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&family=Cormorant+Infant:wght@600;700&family=Ubuntu:wght@700&display=swap');
body{
  margin: 0;
  overflow: hidden;
  background: #0E170D;
}

.App {
  text-align: center;
}

a {
  text-decoration:none
}
