.shop-page {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  background: #0E170D;
  height: 100vh;
}

.shop-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 90px;
  gap: 30px;
  align-self: stretch;
  flex-grow: 1;
}

.shop-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.shop-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  gap: 50px;
  overflow: auto;
  order: 2;
  flex-grow: 1;
}


.product-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  width: 300px;
  height: 320px;
  
  border-radius: 10px;
  overflow: hidden;
}

.product-item-img-wrapper {
  align-self: stretch;
  flex-grow: 1;
}

.pr-item-img-gradient {
  width: 100vh;
  height: 100%;
  background: linear-gradient(180deg, rgba(116, 117, 93, 0) 65.28%, #74755D 100%);
}

.product-item-text {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 20px;
  gap: 10px;
  
  width: 300px;
  
  background: #74755D;
  
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
