.page_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.15em;
  background: #0E170D;
  z-index: -1;
}

.leaves_container {
  align-self: center;
  width: 550px;
  height: 73px;
  z-index: 1;
}

.link {
  color: #F5F4F0;
  z-index: 1;
  transform: scale(2, 2);
  /* animation-name: link_scale; */
}

.left_leaf {
  position: absolute;
  z-index: -1;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  animation-name: left_fall;
  animation-iteration-count: infinite;
}

.right_leaf {
  z-index: -1;
  position: absolute;
  animation-name: right_fall;
  animation-iteration-count: infinite;
}

.leaves_container:hover .left_leaf{
  opacity: 0.9;
  animation-play-state: paused;
}

.leaves_container:hover .right_leaf {
  opacity: 0.9;
  animation-play-state: paused;
}

.leaves_container:hover .link {
  text-shadow: 0px 0px 40px #F5F4F0;
  animation-name: link_scale;
  animation-duration: 0.3s;
  font-size: 65px;
}

.le_0 {
  left: 69px;
  top: 58px;
  animation-duration: 7s;
}

.le_1 {
  left: 596px;
  top: 304px;
  animation-duration: 8s;
}

.le_2 {
  left: 69.29px;
  top: 581px;
  animation-duration: 6s;
}

.le_3 {
  left: 582.14px;
  top: 819px;
  animation-duration: 8s;
}

.le_4 {
  left: 830.29px;
  top: 975px;
  animation-duration: 7s;
}

.le_5 {
  left: 1214.14px;
  top: 656px;
  animation-duration: 6s;
}

.le_6 {
  left: 797.29px;
  top: 231px;
  animation-duration: 8s;
}

.le_7 {
  left: 1193.14px;
  top: -55px;
  animation-duration: 7s;
}

.le_8 {
  left: 1372.29px;
  top: 81px;
  animation-duration: 6s;
}

.le_9 {
  left: 1899.14px;
  top: 327px;
  animation-duration: 8s;
}

.le_10 {
  left: 1372.29px;
  top: 604px;
  animation-duration: 5s;
}

.le_11 {
  left: 1885.14px;
  top: 842px;
  animation-duration: 7s;
}

@keyframes left_fall {
  0% {
    transform: matrix(-1, 0, 0, 1, 0, 0) translateY(-1200px); 
    animation-timing-function: linear;
  }
  50% {
    transform: matrix(-1, 0, 0, 1, 0, 0) translateY(0px);
    animation-timing-function: linear;
  }
  100% {
    transform: matrix(-1, 0, 0, 1, 0, 0) translateY(1200px);
    animation-timing-function: ease-in;
  }
}

@keyframes right_fall {
  0% {
    transform: translateY(-1200px); 
    animation-timing-function: linear;
  }
  50% {
    transform: translateY(0px);
    animation-timing-function: linear;
  }
  100% {
    transform: translateY(1200px);
    animation-timing-function: ease-in;
  }
}

@keyframes link_scale {
  from {
    font-size: 60px;
  }
  to {
    font-size: 65px;
    animation-timing-function: ease-in;
  }
}
